player-connection-mode=Listen
player-connection-guid=2200382805
player-connection-debug=0
player-connection-project-name=Environment
player-connection-ip=192.168.15.228
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
nolog=
build-guid=1506a236d315499496dfb9b8d0af10b0
